@font-face {
    font-family: "Noto Sans";
    font-weight: bold;
    font-style: normal;
    src: url("assets/fonts/NotoSansCJKjp-Medium.otf") format("opentype");
}

@font-face {
    font-family: "Noto Sans";
    font-weight: normal;
    font-style: normal;
    src: url("assets/fonts/NotoSansCJKjp-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Noto Sans";
    font-weight: 400;
    font-style: normal;
    src: url("assets/fonts/NotoSansCJKjp-DemiLight.otf") format("opentype");
}

@font-face {
    font-family: "Nunito";
    font-weight: 300;
    font-style: normal;
    src: url("assets/fonts/Nunito-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito";
    font-weight: 300;
    font-style: italic;
    src: url("assets/fonts/Nunito-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito";
    font-weight: 100;
    font-style: normal;
    src: url("assets/fonts/Nunito-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito";
    font-weight: 100;
    font-style: italic;
    src: url("assets/fonts/Nunito-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito";
    font-weight: normal;
    font-style: normal;
    src: url("assets/fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito";
    font-weight: normal;
    font-style: italic;
    src: url("assets/fonts/Nunito-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito";
    font-weight: bold;
    font-style: normal;
    src: url("assets/fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito";
    font-weight: bold;
    font-style: italic;
    src: url("assets/fonts/Nunito-BoldItalic.ttf") format("truetype");
}

* {
    &:not(.fas):not(.far):not(.icon):not(.fab):not(.fa):not(.mdi):not(.v-progress-circular__info),
    &[class^='display-'] {
        font-family: 'Nunito', 'Noto Sans', Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    }
}

.v-progress-circular > .v-progress-circular__info {
    font-family: Roboto, sans-serif !important;
}
